.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.carImage {
  border-radius: 19px;
  width: 640px;
  height: 512px;
}
.contentBox {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-gray-light);
  border-radius: 10px;
  padding: 32px;
  width: 640px;
  height: 488px;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--color-main);
  margin-bottom: 8px;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 576px;
    margin-bottom: 24px;
}

.input {
    border: none;
  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background: var(--color-inputs);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-main);
}
.input::placeholder {
  color: var(--color-gray);
}
.input:focus, .input:hover {
  outline: 2px solid var(--color-gray);
}
.textarea {
    border: none;
  border-radius: 12px;
  padding: 12px 20px 56px;
  width: 576px;
  height: 88px;
  background: var(--color-inputs);
  color: var(--color-main);
}
.textarea::placeholder {
  color: var(--color-gray);
}
.textarea:focus, .textarea:hover {
  outline: 2px solid var(--color-gray);
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: none;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background: var(--color-button);
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--color-white);
  white-space: nowrap;
  cursor: pointer;
    margin: 0 auto;
}
.button:hover,
.button:focus {
  background-color: var(--button-hover);
}
