#root {
  max-width: 320px;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  #root {
    max-width: 1158px;
  }
}
