:root {
--font-family: "Manrope", sans-serif;
--color-main: #101828;
--color-white: #ffffff;
--color-gray: #8D929A;
--color-gray-light:#DADDE1;
--color-badges: #F2F4F7;
--color-button: #3470FF;
--button-hover: #0B44CD;
--color-inputs: #F7F7F7;
}

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  color: var(--color-main);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

